<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="font-style: italic;" href="#">AbhiBus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Offers <span class="sr-only">(current)</span></a>
        </li>
      
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" style="margin-left: 800px;" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Bookings
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Print Booking</a>
              <a class="dropdown-item" href="#">Cancel Booking</a>
              
            </div>
          </div>
      </ul>
    </div>
  </nav>
 
        <div class="row pt-5">
            <button type="button" class="btn btn-primary">Bus</button>
            <button type="button" class="btn btn-secondary">Trains</button>
            <button type="button" class="btn btn-success">Hotels</button>
            <button type="button" class="btn btn-danger">Rental</button>
            
        </div>

      
       
 